html {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

.o-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
}

.c-main {
  padding: 20px;
  background-color: honeydew;
}

.c-card {
  padding: 7px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  max-width: 300px;
  overflow: hidden;
  box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.1);
}

.c-card__product-details {
  border-top: 1.5px solid rgb(223, 220, 220);
  padding: 10px;
}

.c-card__qty {
  width: 40px;
  text-align: center;
}
