html {
  font-family: sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

$header-height: 70px;

body {
  margin-top: $header-height;
  > * {
    padding: 20px;
  }
}

// header

.c-header {
  position: fixed;
  inset: 0 0 auto 0;
  height: $header-height;
  background-color: rgb(29, 140, 155);
}

.o-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-header__logo {
  font-size: 1.6rem;
  color: white;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.c-header__cart {
  $cart-size: 45px;
  position: relative;
  width: $cart-size + 2;
  height: $cart-size;
  border-radius: 50%;
  border: none;
  font-size: larger;
}

.c-header__cart-badge {
  $badge-size: 15px;
  position: absolute;
  width: $badge-size;
  height: $badge-size;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);

  font-size: 0.6rem;
  padding: 1px;
  text-align: center;
  background-color: rgb(240, 73, 170);
  color: white;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms;

  &:empty {
    background-color: transparent;
    transform: scale(0);
  }
}

// main

.o-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: max-content;
  gap: 20px;
}

.c-main {
  background-color: honeydew;
  min-height: 100vh;
}

.c-card {
  padding: 7px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  max-width: 300px;
  height: max-content;
  overflow: hidden;
  box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.1);
}

.c-card__img-container {
  min-height: 200px;

  > img {
    height: 280px;
  }
}

.c-card__product-details {
  border-top: 1.5px solid rgb(223, 220, 220);
  padding: 10px;
}

.c-card__price {
  display: block;
  margin-bottom: 7px;
}

.c-card__qty {
  width: 40px;
  text-align: center;
  border-radius: 3px;
  border: #54b4c1 1.5px solid;
  color: #54b4c1;
  height: 34px;
}

.c-card__product-name {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 8px;
}

.c-card__add-to-card {
  background-color: #54b4c1;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  height: 34px;
  transition: background-color 200ms;

  &:hover {
    background-color: lighten(#54b4c1, 10);
  }

  &:active {
    transition: background-color 34ms;
    background-color: darken(#54b4c1, 10);
    animation: cart-btn-anim 250ms forwards;
  }

  @keyframes cart-btn-anim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
}

// cart modal
$modal-z-index: 2;

.o-cart-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: $modal-z-index;
}

.c-cart-modal {
  $modal-top: 40px;
  position: fixed;
  background-color: white;
  min-height: fit-content;
  max-height: calc(100vh - ($modal-top * 2));
  min-width: 370px;
  top: $modal-top;
  right: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.c-cart-modal__product-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.c-cart-modal__product {
  position: relative;
  display: flex;
  gap: 15px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.08);
  background-color: lightBlue;
  overflow: hidden;

  &:hover {
    > .c-cart-modal__delete-product {
      opacity: 1;
    }
  }
}

.c-cart-modal__delete-product {
  $delete-product-size: 20px;
  position: absolute;
  height: $delete-product-size;
  width: $delete-product-size;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: rgb(129, 171, 177);
  font-size: 0.85rem;
  text-align: center;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 300ms;

  &:hover {
    background-color: rgb(199, 224, 233);
  }
}

.c-cart-modal__img-container {
  overflow: hidden;
  border-radius: 9px;
  width: 80px;
  background-color: white;
}

.c-cart-modal__img {
  height: 100%;
  max-width: 80px;
}

.c-cart-modal__product-name {
  font-size: large;
}

.c-cart-modal__product-price {
  font-size: small;
}

.c-cart-modal__product-qty-label {
  font-size: small;
}

.c-cart-modal__product-qty {
  width: 30px;
  border-radius: 3px;
  border: none;
  font-size: small;
  text-align: center;
}

// close modal
.c-cart-modal__close {
  $close-size: 20px;
  position: absolute;
  border-radius: 5%;
  border: none;
  width: $close-size;
  height: $close-size;
  background-color: #fff;
  font-size: smaller;
  padding: 0px;
  color: rgb(71, 71, 71);
  top: 0;
  right: 0;
  z-index: $modal-z-index + 1;
  transition: background-color 250ms;

  &:hover {
    background-color: darken(white, 20);
  }
}

// modal overlay

.u-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.178);
  transition: background-color 200ms;
  z-index: 2;
}

.c-cart-modal-overlay {
  z-index: $modal-z-index - 1;
}

// bottom part of the modal

.o-buy-btn-container {
  display: flex;
  color: rgb(124, 169, 184);
  margin-top: 20px;

  > * {
    flex-basis: 100%;
    padding: 5px;
  }
}

.c-cart-modal__buy-btn {
  border-radius: 5px;
  border: none;
  background-color: darken(lightBlue, 20);
  color: white;
  box-shadow: 0 0 10px rgb(173, 216, 230, 0.1);
}

// form (modal)

$form-z-index: 4;

.c-form-overlay {
  z-index: $form-z-index - 1;
  display: flex;
  max-height: 100vh;
}

.o-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.c-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $form-z-index;
  background-color: rgb(56, 189, 194);
  min-width: fit-content;
  max-width: 550px;
  padding: 30px;
  border-radius: 10px;
  color: #082024;
  box-shadow: 10px 20px 20px rgba(0,0,0,.1);
  overflow: hidden;
}

.c-form__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  color: rgb(26, 142, 172);
  border-radius: 5px;
}

.c-form__title {
  margin-bottom: 20px;
  text-decoration: underline;
}

.c-form__input-container {
  display: flex;

  > .c-form__input-label {
    flex-basis: 37%;
  }

  > .c-form__input {
    flex-basis: 63%;
  }
}

.c-form__input {
  border: none;
  border-radius: 5px;
}

.c-form input[type="text"],
.c-form input[type="number"] {
  height: 30px;
}

.c-form__input-container--radio {
  margin-top: 10px;
}

.c-form__radio-group {
  padding-left: 5px;
}

.c-form__radio-label {
  white-space: nowrap;
  color: #094047;
  font-size: 0.9rem;
}

.u-colon {
  &::after {
    content: ":";
  }
}

.c-form__bottom {
  margin-top: 20px;
}

.o-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-form__payment-btn {
  background-color: #2095a5;
  border: none;
  border-radius: 5px;
  padding: 8px 13px;
  color: rgb(228, 237, 241);
}

// footer

.c-footer {
  position: relative;
  height: 130px;
  background-color: #124c54;
}

.c-footer__copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 7px;
  color: rgb(221, 221, 221);
  background-color: #0b2f34;
  font-size: 0.65rem;
  text-align: center;
}
