html {
  font-family: sans-serif;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  margin-top: 70px;
}
body > * {
  padding: 20px;
}

.c-header {
  position: fixed;
  inset: 0 0 auto 0;
  height: 70px;
  background-color: #1d8c9b;
}

.o-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-header__logo {
  font-size: 1.6rem;
  color: white;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.c-header__cart {
  position: relative;
  width: 47px;
  height: 45px;
  border-radius: 50%;
  border: none;
  font-size: larger;
}

.c-header__cart-badge {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  font-size: 0.6rem;
  padding: 1px;
  text-align: center;
  background-color: #f049aa;
  color: white;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms;
}
.c-header__cart-badge:empty {
  background-color: transparent;
  transform: scale(0);
}

.o-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: max-content;
  gap: 20px;
}

.c-main {
  background-color: honeydew;
  min-height: 100vh;
}

.c-card {
  padding: 7px;
  border-radius: 8px;
  background-color: white;
  max-width: 300px;
  height: max-content;
  overflow: hidden;
  box-shadow: 1px 5px 11px rgba(0, 0, 0, 0.1);
}

.c-card__img-container {
  min-height: 200px;
}
.c-card__img-container > img {
  height: 280px;
}

.c-card__product-details {
  border-top: 1.5px solid #dfdcdc;
  padding: 10px;
}

.c-card__price {
  display: block;
  margin-bottom: 7px;
}

.c-card__qty {
  width: 40px;
  text-align: center;
  border-radius: 3px;
  border: #54b4c1 1.5px solid;
  color: #54b4c1;
  height: 34px;
}

.c-card__product-name {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 8px;
}

.c-card__add-to-card {
  background-color: #54b4c1;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  height: 34px;
  transition: background-color 200ms;
}
.c-card__add-to-card:hover {
  background-color: #79c4cf;
}
.c-card__add-to-card:active {
  transition: background-color 34ms;
  background-color: #3c99a6;
  animation: cart-btn-anim 250ms forwards;
}
@keyframes cart-btn-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.o-cart-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.c-cart-modal {
  position: fixed;
  background-color: white;
  min-height: fit-content;
  max-height: calc(100vh - 80px);
  min-width: 370px;
  top: 40px;
  right: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.c-cart-modal__product-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.c-cart-modal__product {
  position: relative;
  display: flex;
  gap: 15px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.08);
  background-color: lightBlue;
  overflow: hidden;
}
.c-cart-modal__product:hover > .c-cart-modal__delete-product {
  opacity: 1;
}

.c-cart-modal__delete-product {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: #81abb1;
  font-size: 0.85rem;
  text-align: center;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 300ms;
}
.c-cart-modal__delete-product:hover {
  background-color: #c7e0e9;
}

.c-cart-modal__img-container {
  overflow: hidden;
  border-radius: 9px;
  width: 80px;
  background-color: white;
}

.c-cart-modal__img {
  height: 100%;
  max-width: 80px;
}

.c-cart-modal__product-name {
  font-size: large;
}

.c-cart-modal__product-price,
.c-cart-modal__product-qty-label {
  font-size: small;
}

.c-cart-modal__product-qty {
  width: 30px;
  border-radius: 3px;
  border: none;
  font-size: small;
  text-align: center;
}

.c-cart-modal__close {
  position: absolute;
  border-radius: 5%;
  border: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  font-size: smaller;
  padding: 0px;
  color: #474747;
  top: 0;
  right: 0;
  z-index: 3;
  transition: background-color 250ms;
}
.c-cart-modal__close:hover {
  background-color: #cccccc;
}

.u-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.178);
  transition: background-color 200ms;
  z-index: 2;
}

.c-cart-modal-overlay {
  z-index: 1;
}

.o-buy-btn-container {
  display: flex;
  color: #7ca9b8;
  margin-top: 20px;
}
.o-buy-btn-container > * {
  flex-basis: 100%;
  padding: 5px;
}

.c-cart-modal__buy-btn {
  border-radius: 5px;
  border: none;
  background-color: #5fb3ce;
  color: white;
  box-shadow: 0 0 10px rgba(173, 216, 230, 0.1);
}

.c-form-overlay {
  z-index: 3;
  display: flex;
  max-height: 100vh;
  background-color: rgba(3, 3, 3, 0.562);
}

.o-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.c-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: #38bdc2;
  min-width: fit-content;
  max-width: 550px;
  padding: 30px;
  border-radius: 10px;
  color: #082024;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.c-form__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  color: #1a8eac;
  border-radius: 5px;
}

.c-form__title {
  margin-bottom: 20px;
  text-decoration: underline;
}

.c-form__input-container {
  display: flex;
}
.c-form__input-container > .c-form__input-label {
  flex-basis: 37%;
}
.c-form__input-container > .c-form__input {
  flex-basis: 63%;
}

.c-form__input {
  border: none;
  border-radius: 5px;
  padding: 0 8px;
}

.c-form input[type=text],
.c-form input[type=number] {
  height: 30px;
}

.c-form__input-container--radio {
  margin-top: 10px;
}

.c-form__radio-group {
  padding-left: 5px;
}

.c-form__radio-label {
  white-space: nowrap;
  color: #094047;
  font-size: 0.9rem;
}

.u-colon::after {
  content: ":";
}

.c-form__bottom {
  margin-top: 20px;
}

.o-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-form__payment-btn {
  background-color: #2095a5;
  border: none;
  border-radius: 5px;
  padding: 8px 13px;
  color: #e4edf1;
}

.c-footer {
  position: relative;
  height: 130px;
  background-color: #124c54;
}

.c-footer__copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 7px;
  color: #dddddd;
  background-color: #0b2f34;
  font-size: 0.65rem;
  text-align: center;
}

/*# sourceMappingURL=home.css.map */
